@model ICollection<WebApplication2.Models.Department>

@{
    var instructorNames = ViewBag.InstructorNames as Dictionary<int, string>;
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Department Id</th>
        <th scope="col">Name</th>
        <th scope="col">Manager</th>
        <th scope="col" colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.DepartmentId</td>
            <td>@i.Name</td>
            <td>@(instructorNames?.GetValueOrDefault(i.Manager) ?? "Unknown")</td>
            <td><a asp-action="Edit" asp-controller="Department" asp-route-id="@i.DepartmentId" class="btn btn-outline-info">Edit</a></td>
            <td><a asp-action="Details" asp-controller="Department" asp-route-id="@i.DepartmentId" class="btn btn-outline-secondary">Details</a></td>
            <td><a asp-action="Delete" asp-controller="Department" asp-route-id="@i.DepartmentId" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="New" asp-controller="Department" class="btn btn-primary">New</a>